@page
@model AccessDeniedModel

@{
    ViewData["Title"] = "Access denied";
}

<header>
    <div class="card account-card shadow rounded p-3 border-0">
        <h5 class="account-card-title text-warm_light">
            Access Denied
        </h5>
        <h6 class="fw-normal">
            You do not have access to this resource.
        </h6>
    </div>
</header>
