@page
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Confirm email change";
}

<div class="card account-card shadow rounded p-3 border-0">
    <h5 class="account-card-title text-warm_light">
        Email Change
    </h5>
</div>

<partial name="_StatusMessage" model="Model.StatusMessage" />
